# System commands
function f() {
	if [ "$2" != "" ]; then
    	find $2 -name "$1"
	else
    	find . -name "$1"
    fi
}

function md() {
	mkdir -p "$@" && cd "$@"
}


# Github commands
function github() {
	GITHUB_REPO=$(git remote -v 2>/dev/null | grep 'origin.*github.com.*fetch' | sed 's/.*github\.com[:/]\(.*\)\.git.*$/\1/')
	if [ "${GITHUB_REPO}" == "" ]; then
		echo 'Not github repo/origin'
	else
		open "https://www.github.com/${GITHUB_REPO}"
	fi

}

function push-request() {
	gi push
	gi pull-request 2>/dev/null
	if (test -n "$1"); then
		gi comment "@${1} please review."
	fi
}

function pull-upstream() {
	git pull upstream master
}


# Virtual box commands
function vm-list() {
	vbox list vms
}

function vm-running() {
	vbox list runningvms
}

function vm-stop() {
	if [ "$1" == "" ]; then
		echo "Need to specify vm name/uid"
	else
		vbox controlvm $1 poweroff
	fi
}

function gem-push() {
    rm *.gem; *.gemspec; gem push *.gem; rm *;
}
